@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>OS: @Environment.OSVersion.Platform</p>
    <p>Hostname: @Environment.GetEnvironmentVariable(Environment.OSVersion.Platform == PlatformID.Win32NT ? "COMPUTERNAME" : "HOSTNAME")</p>
</div>
